body{
  margin: 0;
  height: 1000px;
}


.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.Nav ul{
  display: flex;
  
}

.Nav ul li{
  list-style: none;
  margin-right: 1rem;

}

